p {
    color: #B60F6E;
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
}

li,
a:link,
a:visited,
a:hover {
    color: #F183BB;
    font-size: 16px;
    letter-spacing: 1px;
    text-shadow: 1px 2px 1px #8812C8;
}

h1 {
    color: #F4516A;
    font-size: 60px;
    text-align: center;
    margin: 0;
    padding: 20px 0;
    text-shadow: 3px 3px 1px #8812C8;
}

h2 {
    color: #F4516A;
    font-size: 20px;
    text-align: center;
    margin: 0;
    padding: 20px 0;
    text-shadow: 3px 3px 1px #8812C8;
}

td {
    color: #F4516A;
    font-size: 14px;
    text-shadow: 1px 2px 1px #8812C8;
}

html {
    font-size: 14px;
    background-color: #FEF7EB;
}

.login {
    width: 300px;
    margin: 0px 600px 208px 0px;
    background-color: #2F1C90;
    padding: 0 20px 20px 20px;
    border: 2px solid #F4516A;
    box-shadow: 16px 16px #F4516A;
    position: fixed;
}

.bottom {
    height: 80px;
    background-color: #2F1C90;
    padding: 0 10px 10px 10px;
    border: 2px solid #F4516A;
    margin-bottom: 0px;
}

.img1 {
    display: block;
    margin: 0 auto;
}

.footer {
    margin-top: 15px;
    margin-left: 15px;
    text-align: center;
}

.content {
    display: block;
    margin: 0px 0px 0px 400px;
}

submit,
button {
    color: #F4516A;
    background-color: #8812C8;
}

.harmony ul {
    width: 210px;
}
.harmony li {
    width: 100px;
    height: 50px;
    float: left;
    display: block;
}
